<!--begin careers header-->
<section class="careers_header absolute_block" style="background-image: url('img/bg_careers.png')">
    <div class="container">
        <div class="careers_header__item careers_header_item">
            <div class="careers_header_item__page">
                <h2 class="title">Careers</h2>
            </div>
            <div class="careers_header_item__title">
                <h1 class="title">
                    Join Us As We Build The Future Of The Blockchain Industry
                </h1>
            </div>
        </div>
    </div>
</section>
<!--end careers header-->
<!--begin careers single-->
<section class="careers_single">
    <div class="container">
        <div class="careers_single__description careers_description">
            <div class="careers_description__title">
                <h2 class="title">
                    Application Security architect | <span>Tel Aviv</span>
                </h2>
            </div>
            <div class="careers_description__text">
                <p>Bancor is looking for a professional Application Security Architect to implement and carry out various processes and best practices. In this position you will be asked to establish industry-leading security processes and practices at each phase of the software development lifecycle. You will provide guidance on application security design and architecture, coordinate the prioritization of critical security-related activities and organize educational initiatives and materials.
                The successful candidate will be a part of the R&D department and will report to the VP of R&D.</p>

                <p><b>Responsibilities</b></p>

                <ul>
                    <li>Lay out the security architecture and operational roadmap for the R&D and Product departments.</li>
                    <li>Participate in strategic activities to communicate security objectives and ensure their appropriate consideration 		in product and operational planning.</li>
                    <li>Research enterprise security and privacy standards and best-practices and ensure proper and accurate 		implementation.</li>
                    <li>Participate in functional and technical initiation activities to incorporate effective threat modeling and security 		standards and best practices into product design.</li>
                    <li>Implement different aspects of application security issues, in CI and CD processes.</li>
                    <li>Guiding participants in code reviews.</li>
                    <li>Create an external (read: public facing) reporting process for security and stability related reports and manage 		artifacts lifecycle through the development process.</li>
                    <li>Assist in our vulnerability remediation efforts by establishing effective triaging of bug findings and security 		scans, coordinating engineering response and guiding teams through the implementation of fixes.</li>
                    <li>Establish and direct post-breach recovery procedures.</li>
                    <li>Provide regular updates to department and company leadership on our platform’s security posture. Ensure 		cross-department collaboration and coordination of security efforts.</li>
                    <li>Offer plans and solutions for different security scenarios.</li>
                </ul>

                <p><b>Requirements</b></p>

                <ul>
                    <li>Offensive-Security mindset, and the passion to instill it into other engineers.</li>
                    <li>In-depth experience identifying and protecting against web application and web service security vulnerabilities.</li>
                    <li>Detailed technical knowledge of techniques, standards and state-of-the art capabilities for authentication and 		authorization, security vulnerabilities and remediation.</li>
                    <li>Familiarity with security auditing tools and frameworks.</li>
                    <li>Experience in bug-bounty processes.</li>
                    <li>Knowledgeable about tactics, techniques, and procedures used for software security exploitation.</li>
                    <li>Highly motivated, able to define a vision and lead its execution, driven to overcome obstacles.</li>
                    <li>Excellent communication and presentation skills. Ability to clearly articulate specifications and best practices for 		application security.</li>
                    <li>B.S. / M.S. in Computer Science.</li>
                    <li>5+ years work experience in an application security role.</li>
                    <li>Prior enterprise software engineering experience.</li>
                    <li>Strong understanding of software security architecture and cloud platforms.</li>
                </ul>
            </div>
            <div class="careers_description__btns">
                <a class="btn_blue" href="#/">Apply</a>
                <a class="btn_white" href="#/">Browse position</a>
            </div>
        </div>
    </div>
</section>
<!--end careers single-->