<!--begin careers header-->
<section class="careers_header absolute_block" style="background-image: url('img/bg_careers.png')">
    <div class="container">
        <div class="careers_header__item careers_header_item">
            <div class="careers_header_item__page">
                <h2 class="title">Careers</h2>
            </div>
            <div class="careers_header_item__title">
                <h1 class="title">
                    Join Us As We Build The Future Of The Blockchain Industry
                </h1>
            </div>
        </div>
    </div>
</section>
<!--end careers header-->
<!--begin careers list-->
<section class="careers_list show_desctop">
    <div class="container">
        <div class="careers_list__titles">
            <h3 class="title">Department</h3>
            <h3 class="title">Position</h3>
            <h3 class="title">Location</h3>
        </div>
        <div class="careers_list__wrapper careers_list_wrap">
            <!--begin careers list item-->
            <a href="#/" class="careers_list_wrap__item careers_list_item">
                <div class="careers_list_item__department">
                    <p>Engineering</p>
                </div>
                <div class="careers_list_item__position">
                    <p>Application Security Architect</p>
                    <p>Application Security Architect</p>
                    <p>Application Security Architect</p>
                </div>
                <div class="careers_list_item__location">
                    <p>Tel Aviv</p>
                </div>
                <div class="careers_list_item__arrow">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>
            <!--end careers list item-->
            <!--begin careers list item-->
            <a href="#/" class="careers_list_wrap__item careers_list_item">
                <div class="careers_list_item__department">
                    <p>Engineering</p>
                </div>
                <div class="careers_list_item__position">
                    <p>Application Security Architect</p>
                    <p>Application Security Architect</p>
                    <p>Application Security Architect</p>
                </div>
                <div class="careers_list_item__location">
                    <p>Tel Aviv</p>
                </div>
                <div class="careers_list_item__arrow">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>
            <!--end careers list item-->
            <!--begin careers list item-->
            <a href="#/" class="careers_list_wrap__item careers_list_item">
                <div class="careers_list_item__department">
                    <p>Engineering</p>
                </div>
                <div class="careers_list_item__position">
                    <p>Application Security Architect</p>
                    <p>Application Security Architect</p>
                    <p>Application Security Architect</p>
                </div>
                <div class="careers_list_item__location">
                    <p>Tel Aviv</p>
                </div>
                <div class="careers_list_item__arrow">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>
            <!--end careers list item-->
        </div>
    </div>
</section>
<section class="careers_list show_mobile">
    <div class="container">
        <div class="careers_list__wrapper careers_list_wrap">
            <!--begin careers list item-->
            <a href="#/" class="careers_list_wrap__item careers_list_item">
                <div class="careers_list_item__department">
                    <h3 class="title">Department</h3>
                    <p>Engineering</p>
                </div>
                <div class="careers_list_item__position">
                    <h3 class="title">Position</h3>
                    <p>Application Security Architect, TLV</p>
                </div>
                <div class="careers_list_item__arrow">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>
            <!--end careers list item-->
            <!--begin careers list item-->
            <a href="#/" class="careers_list_wrap__item careers_list_item">
                <div class="careers_list_item__department">
                    <h3 class="title">Department</h3>
                    <p>Engineering</p>
                </div>
                <div class="careers_list_item__position">
                    <h3 class="title">Position</h3>
                    <p>Application Security Architect, TLV</p>
                </div>
                <div class="careers_list_item__arrow">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>
            <!--end careers list item-->
            <!--begin careers list item-->
            <a href="#/" class="careers_list_wrap__item careers_list_item">
                <div class="careers_list_item__department">
                    <h3 class="title">Department</h3>
                    <p>Engineering</p>
                </div>
                <div class="careers_list_item__position">
                    <h3 class="title">Position</h3>
                    <p>Application Security Architect, TLV</p>
                </div>
                <div class="careers_list_item__arrow">
                    <i class="fas fa-arrow-right"></i>
                </div>
            </a>
            <!--end careers list item-->
        </div>
    </div>
</section>
<!--end careers list-->


