<!--begin contact header-->
<section class="contact_header absolute_block">
    <div class="container">
        <div class="contact_header__img">
            <img src="img/img_contact.png" alt="">
        </div>
        <div class="contact_header__item contact_item">
            <div class="contact_item__page">
                <h2 class="title">Contact us</h2>
            </div>
            <div class="contact_item__title">
                <h1 class="title">Tell Us, We're Listening</h1>
            </div>
            <div class="contact_item__text">
                <p>We look forward to your thoughts, questions and suggestions. You can reach us by filling out the contact form below or through any of our social media channels.</p>
            </div>
        </div>
        <div class="contact_header__info contact_info">
            <div class="contact_info__form">
                <form>
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <textarea placeholder="Message"></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
            <div class="contact_info__text contact_info_text">
                <div class="contact_info_text__base">
                    <i class="fas fa-question"></i>
                    <p>Visit our <a href="#/">knowledge base</a> </p>
                </div>
                <div class="contact_info_text__email">
                    <p>
                        <i class="far fa-envelope"></i>
                        Email us
                    </p>
                    <ul>
                        <li><a href="mailto:sales@bancor.network">sales@bancor.network</a></li>
                        <li><a href="mailto:support@bancor.network">press@bancor.network</a></li>
                        <li><a href="mailto:support@bancor.network">support@bancor.network</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end contact header-->