<!--begin error header-->
<section class="error_header absolute_block">
    <div class="container">
        <div class="error_header__item error_header_item">
            <div class="error_header_item__page">
                <h2 class="title">404 error</h2>
            </div>
            <div class="error_header_item__title">
                <h1 class="title">Oops,<br> something went wrong </h1>
            </div>
            <div class="error_header_item__text">
                <p><b>The page you are looking for doesn't seem to exist.</b>
                If you continue to experience this problem, please send a message to <a href="mailto:contact@bancor.network">contact@bancor.network</a></p>
            </div>
            <div class="error_header_item__btn">
                <a class="btn_blue" href="/">Go to homepage</a>
            </div>
        </div>
    </div>
</section>
<!--end error header-->