<!--begin footer-->
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper footer_wrap">
            <div class="footer_wrap__item footer_item">
                <div class="footer_item__text">
                    <p><span>Stay up-to-date.</span> Subscibe to our newsletter. </p>
                </div>
                <form>
                    <input type="email" placeholder="EMAIL ADDRESS ">
                    <input type="submit" value="Subscribe">
                </form>
                <div class="show_desctop">
                    <div class="footer_item__socials">
                        <li><a href="#/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#/"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#/"><i class="fab fa-telegram-plane"></i></a></li>
                        <li><a href="#/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#/"><i class="fab fa-reddit-alien"></i></a></li>
                        <li><a href="#/"><i class="fab fa-medium-m"></i></a></li>
                    </div>
                </div>
            </div>
            <div class="footer_wrap__item footer_item">
                <div class="footer_item__price">
                    BNT = $<span id="bnt_price"s></span>
                </div>
                <div class="footer_item__nav">
                    <ul>
                        <li>
                            <a href="#/">Careers</a>
                        </li>
                        <li>
                            <a href="#/">Support</a>
                        </li>
                        <li>
                            <a href="#/">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#/">Press</a>
                        </li>
                        <li>
                            <a href="#/">Contact Us</a>
                        </li>
                        <li>
                            <a href="#/">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="show_mobile">
                    <div class="footer_item__socials">
                        <li> <a href="#/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#/"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#/"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#/"><i class="fab fa-telegram-plane"></i></a></li>
                        <li><a href="#/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#/"><i class="fab fa-reddit-alien"></i></a></li>
                        <li><a href="#/"><i class="fab fa-medium-m"></i></a></li>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_copyright copyright show_mobile">
            <p>© Copyright 2018 Bancor. All rights reserved.</p>
        </div>
    </div>
</footer>
<!--end footer-->
<div class="show_mobile">
    <a href="javascript:" id="return-to-top"><i class="fas fa-arrow-up"></i></a>
</div>
