<!--begin header-->
<header class="header">
    <div class="container">
        <div class="header__wrapper header_wrap">
            <div class="header_wrap__logo logo">
                <a href="#/">
                    <img src="img/logo.png" alt="Logo">
                </a>
            </div>
            <div class="header_wrap__icon show_mobile">
                <a href="#/"><i class="fas fa-bars"></i></a>
            </div>
            <div class="header_wrap__nav nav show_desctop">
                <ul>
                    <li><a href="#/">Wallet</a></li>
                    <li><a href="#/">Network</a></li>
                    <li><a href="#/">Protocol</a></li>
                    <li><a href="#/">Smart Token™</a></li>
                    <li><a href="#/">Foundation</a></li>
                </ul>
            </div>
            <div class="header_wrap__btn show_desctop">
                <a class="btn_white" href="#/">
                    Use the Product
                </a>
            </div>
        </div>
    </div>
    <div class="show_mobile">
        <div class="header_mobile">
            <div class="header_mobile__top">
                <div class="logo">
                    <a href="#/">
                        <img src="img/logo.png" alt="Logo">
                    </a>
                </div>
                <div class="icon">
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/">Wallet</a></li>
                <li><a href="#/">Network</a></li>
                <li><a href="#/">Protocol</a></li>
                <li><a href="#/">Smart Token™</a></li>
                <li><a href="#/">Foundation</a></li>
            </ul>
        </div>
    </div>
</header>
<!--end header-->