<!--begin press_header-->
<section class="press_header absolute_block">
    <div class="press_header__img">
        <img src="img/img_header_press.png" alt="Press">
    </div>
    <div class="container">
        <div class="press_header_item">
            <div class="press_header_item__page">
                <h2 class="title">Press</h2>
            </div>
            <div class="press_header_item__title">
                <h1 class="title">
                    Information & Assets For Our Users & Media.
                </h1>
            </div>
            <div class="press_header_item__btn">
                <a class="btn_white" href="#/">Press Kit</a>
                <a class="btn_blue" href="#/">Media Inquires</a>
            </div>
        </div>
    </div>
</section>
<!--end press_header-->
<!--begin press categories-->
<section class="press_categories">
    <!--begin press_category-->
    <section class="press_category">
        <div class="container">
            <div class="press_category__name">
                <h2 class="title">Bancor in the news</h2>
            </div>
            <div class="press_category__wrapper press_cat_wrap">
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item blog_item_full">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
            </div>
            <div class="press_category__more">
                <a href="#/">
                    Read more
                    <i class="fas fa-arrow-down"></i>
                </a>
            </div>
        </div>
    </section>
    <!--end press_category-->
    <!--begin press_category-->
    <section class="press_category">
        <div class="container">
            <div class="press_category__name">
                <h2 class="title">Press release</h2>
            </div>
            <div class="press_category__wrapper press_cat_wrap">
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
            </div>
            <div class="press_category__more">
                <a href="#/">
                    Read more
                    <i class="fas fa-arrow-down"></i>
                </a>
            </div>
        </div>
    </section>
    <!--end press_category-->
    <!--begin press_category-->
    <section class="press_category">
        <div class="container">
            <div class="press_category__name">
                <h2 class="title">From our blog</h2>
            </div>
            <div class="press_category__wrapper press_cat_wrap">
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item blog_item_full">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
                <!--begin blog item-->
                <a href="#/" class="home_blog_wrap__item blog_item">
                    <div class="blog_item__img" style="background-image: url('img/img_blog_item.jpg')">

                    </div>
                    <div class="blog_item__info blog_item_info">
                        <div class="blog_item_info__date">
                            APR 3, 2018
                        </div>
                        <div class="blog_item_info__logo">
                            <img src="img/logo_venture.png" alt="Logo">
                        </div>
                        <div class="blog_item_info__text">
                            <p>Bancor launches a cryptocurrency wallet that converts instantly between tokens</p>
                        </div>
                    </div>
                </a>
                <!--end blog item-->
            </div>
            <div class="press_category__more">
                <a href="#/">
                    Read more
                    <i class="fas fa-arrow-down"></i>
                </a>
            </div>
        </div>
    </section>
    <!--end press_category-->
</section>
<!--end press categories-->